﻿﻿
@model OnboardDemo.Models.UserLogin

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

@if (@ViewBag.Messages != null)
{
    @foreach (string message in @ViewBag.Messages)
    {
        <div class="alert alert-danger">@message</div>
    }
}

@Html.ValidationSummary()
@using (Html.BeginForm(FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(user => user.Username, "Username:")
        @Html.TextBoxFor(user => user.Username, new { @class="form-control"} )
    </div>
    <div class="form-group">
        @Html.LabelFor(user => user.Password, "Password:")
        @Html.PasswordFor(user => user.Password, new { @class="form-control"} )
    </div>
    <input type="submit" class="btn btn-primary" value="Log in" />
}