﻿﻿
@model OnboardDemo.Models.UserRegister

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>


@if (@ViewBag.Messages != null)
{
@foreach (string message in @ViewBag.Messages)
    {
<div class="alert alert-danger">e</div>
}
}

@Html.ValidationSummary()
@using (Html.BeginForm(FormMethod.Post))
{
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="FullName" class="control-label"></label>
    <input asp-for="FullName" class="form-control" />
    <span asp-validation-for="FullName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Email" class="control-label"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="UserName" class="control-label"></label>
    <input asp-for="UserName" class="form-control" />
    <span asp-validation-for="UserName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Password" class="control-label"></label>
    <input type="password" asp-for="Password" class="form-control" />
    <span asp-validation-for="Password" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="PasswordConfirmation" class="control-label"></label>
    <input type="password" asp-for="PasswordConfirmation" class="form-control" />
    <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Birthdate" class="control-label"></label>
    <input asp-for="Birthdate" class="form-control" />
    <span asp-validation-for="Birthdate" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="PhoneNumber" class="control-label"></label>
    <input asp-for="PhoneNumber" class="form-control" />
    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
</div>
<div class="form-group">
    <input type="submit" value="Register" class="btn btn-primary" />
</div>
}
