﻿﻿
@model OnboardDemo.Models.UserViewModel

@{
    ViewData["Title"] = "Delete";

}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
@Html.DisplayNameFor(model => model.FullName)
</dt>
<dd class="col-sm-10">
@Html.DisplayFor(model => model.FullName)
</dd>
<dt class="col-sm-2">
@Html.DisplayNameFor(model => model.Email)
</dt>
<dd class="col-sm-10">
@Html.DisplayFor(model => model.Email)
</dd>
<dt class="col-sm-2">
@Html.DisplayNameFor(model => model.UserName)
</dt>
<dd class="col-sm-10">
@Html.DisplayFor(model => model.UserName)
</dd>
<dt class="col-sm-2">
@Html.DisplayNameFor(model => model.Birthdate)
</dt>
<dd class="col-sm-10">
@Html.DisplayFor(model => model.Birthdate)
</dd>
<dt class="col-sm-2">
@Html.DisplayNameFor(model => model.PhoneNumber)
</dt>
<dd class="col-sm-10">
@Html.DisplayFor(model => model.PhoneNumber)
</dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="UserName" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index">Back to List</a>
</form>
</div>