﻿﻿
@model OnboardDemo.Models.UserViewModel

@{
    ViewData["Title"] = "Details";

}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
@Html.DisplayNameFor(model => model.FullName)
</dt>
<dd class="col-sm-10">
@Html.DisplayFor(model => model.FullName)
</dd>
<dt class="col-sm-2">
@Html.DisplayNameFor(model => model.Email)
</dt>
<dd class="col-sm-10">
@Html.DisplayFor(model => model.Email)
</dd>
<dt class="col-sm-2">
@Html.DisplayNameFor(model => model.UserName)
</dt>
<dd class="col-sm-10">
@Html.DisplayFor(model => model.UserName)
</dd>
<dt class="col-sm-2">
@Html.DisplayNameFor(model => model.Birthdate)
</dt>
<dd class="col-sm-10">
@Html.DisplayFor(model => model.Birthdate)
</dd>
<dt class="col-sm-2">
@Html.DisplayNameFor(model => model.PhoneNumber)
</dt>
<dd class="col-sm-10">
@Html.DisplayFor(model => model.PhoneNumber)
</dd>
</dl>
</div>
<div>
    <a asp-action="Edit" asp-route-username="@Model?.UserName">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>